<form (ngSubmit)="crearHogar()">
  <label>Nombre del hogar:</label>
  <input [(ngModel)]="household.name" name="name" required />

  <label>Descripción:</label>
  <input [(ngModel)]="household.description" name="description" required />

  <label>Moneda:</label>
  <input [(ngModel)]="household.currency" name="currency" required />

  <button type="submit">Crear hogar</button>
</form>

<div *ngIf="loading">Cargando hogares...</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>

<hr />
<h2>Hogares creados</h2>

<div *ngFor="let h of hogares" class="hogar-card">
  <div class="hogar-info">
    <p class="hogar-name">{{ h.name }}</p>
    <p class="hogar-representante">Representante: {{ h.representanteId }}</p>
  </div>
</div>
